.product-card {
    width: 100%;
    height: 100px;
    background-color: white;
    border-radius: 15px;
    border: 1px black solid;
    margin-bottom: 15px;
    overflow: hidden;

    display: grid;
    grid-template-columns: repeat(10, 1fr);
}
.product-card .img-container {
    width: auto;
    height: auto;
    grid-column: 1 / 3;
    /* background-image: url('/storage/air-conditiner.jpg'); */
}
.product-card .img-container img {
    width: 100%;
    object-fit: scale-down;
}
.product-card .details-section {
    grid-column: 3 / 9;
    background-color: green;
}
.product-card .buttons-section {
    grid-column: 9 / 11;
    background-color: blue;
}