<div class="product-card">
    <div class="img-container">
        <img src="/storage/air-conditiner.jpg" alt="product image">
    </div>
    <div class="details-section">
        <p>Wansa AC</p>
        <span>$600</span>
    </div>
    <div class="buttons-section">

    </div>
</div>