

<div class="header-box">
    <div class="bread-crumbs">
        Home > Dashboard
    </div>
</div>

<div class="content" id="content">
    <!-- new content here -->
    <div id="charts-container" style="
        height: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 20px;
        grid-auto-flow: row;
    "></div>
</div>