<div class="header-box">
    <div class="text-section">
        <h4 class="bread-crumbs">Home > Categories</h4>
        <p class="small-text light-gray">100 items</p>
    </div>
    <div class="filters-section">
        <select id="filters-sorting-selector">
            <option data-name="updatedAt" data-dir="desc" value="last-updated">Last updated</option>
            <option data-name="name" data-dir="asc" value="alphabetically">Alphabetically</option>
            <option data-name="productCount" data-dir="asc" value="lowest-product-count">Lowest Product Count</option>
            <option data-name="productCount" data-dir="desc" value="highest-product-count">Highest Product Count</option>
        </select>
        <button type="button" class="submit-button" id="create-category-button">Create Category</button>
    </div>
</div>

<div class="content" id="content">
    <!-- new content here -->
    <div id="categories-container">
    </div>
</div>