<div class="header-box">
    <div class="text-section">
        <h4 class="bread-crumbs">Home > Products</h4>
        <p class="small-text light-gray">
            <span id="meta-count">100</span> items
        </p>
    </div>
    <div class="filters-section">
        <select id="filters-category-selector">
            <option value="null" selected>All Categories</option>
        </select>

        <select id="filters-sorting-selector">
            <option data-name="updatedAt" data-dir="desc" value="last-updated" selected>Last Updated</option>
            <option data-name="unitPriceInCents" data-dir="asc" value="lowest-price">Lowest Price</option>
            <option data-name="unitPriceInCents" data-dir="desc" value="highest-price">Highest Price</option>
        </select>
        <button type="button" class="submit-button" id="create-product-button">Create Product</button>
    </div>
</div>

<div class="content" id="content">
    <!-- new content here -->
    <div id="products-container" style=""></div>
</div>