

<div class="header-box">
    <div class="bread-crumbs">
        Home > Products
    </div>
    <div class="filters-section">
        <select id="filters-category-selector">
            <option value="null" selected>All Categories</option>
        </select>

        <select id="filters-sorting-selector">
            <option value="" selected>Recommended</option>
            <option title="unitPriceCents" value="asc">Lowest Price</option>
            <option title="unitPriceCents" value="desc">Highest Price</option>
        </select>
        <button type="button" class="submit-button" id="create-product-button">Create Product</button>
    </div>
</div>

<div class="content" id="content">
    <!-- new content here -->
    <div id="products-container" style="
        height: 100%;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-auto-rows: min-content;
        gap: 10px;
    "></div>
</div>