.category-card {
    min-width: 300px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
    border-radius: 8px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-shrink: 0;
}

.category-card img {
    max-width: 100%;
    height: auto;
    aspect-ratio: 16/9;
    object-fit: cover;
}

h1, h2, h3, h4 {
    margin: 0;
}

.lower-half {
    height: 35%;
    padding: 10px 15px;
}

.info {
    text-align: start;
}

.category-name {
    color: #333;
    margin: 0;
}

.number {
    color: #007BFF;
}

.category-management-section {
    padding: 0 15px;

    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 15px;
}

.material-symbols-outlined {
    font-variation-settings:
            'FILL' 0,
            'wght' 400,
            'GRAD' 0,
            'opsz' 24
}

.category-management-section button {
    width: 40px;
    height: 40px;
    color: black;
    padding: 5px;
    background-color: transparent;
    border: 2px solid black;
    border-radius: 5px;
    box-sizing: border-box;
    margin: 0 5px;
    cursor: pointer;
}