body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

/* banner */

.banner-container {
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    margin-top: 3%;
    
}

.banner-slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
    
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
}

.slide img {
    width: 100%;
    display: block;
    border-radius: 4px;
}

.banner-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.banner-btn.left {
    left: 10px;
}

.banner-btn.right {
    right: 10px;
}

.banner-btn:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

/* Smaller Navigation Bar */
.sub-navbar {
    background-color: #444;
    padding: 0px 20px;
    display: flex;
    justify-content: center;
    height: 40px;
}

.dropdown {
    position: relative;
}

.dropbtn {
    background-color: #444;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #555;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #666;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #555;
}

/* Basic Styling for Sections */
section {
    padding: 20px;
    margin: 20px 0;
    background-color: #f9f9f9;
}

.products-section h2 {
    text-align: left;
    margin-bottom: 15px;
    font-size: 24px;
    color: #333;
}

/* Product Cards Horizontal List */
.product-cards {
    overflow-x: auto;
    list-style-type: none;
    padding: 0;
    margin: 0;

    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: min-content;
    grid-column-gap: 10px;
}

/* Add a little spacing at the end of the product list */
.product-cards::after {
    content: '';
    flex: 0 0 15px;
}

.categories-section {
    padding: 20px 40px;
}

.categories-container {
    /* background-color: #666; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 15px;
}

.categories-container a {
    text-decoration: none;
}

.category-card {
    display: flex;
    flex-direction: column;
}

.category-image {
    aspect-ratio: 16/9;
    max-width: 100%; /* the secret ingredient, ha ha */
    box-sizing: border-box;
    object-fit: cover;
    /* padding: 20px; */
}

p.category-title {
    color: black;
    text-decoration: none;
    margin-top: 10px;
    text-align: center;
}