.product-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    flex-shrink: 0;
    padding: 0 0 10px 0;
    overflow: hidden;
    /* margin-right: 10px; */

    max-height: 350px;
}

.product-card img {
    width: 100%;
    height: auto;
    border-radius: 5px 5px 0 0;
}

.info {
    padding: 0 15px;
    text-align: center;
}

.product-name {
    color: #333;
    margin: 0;
}

.rating {
    font-size: 16px;
    color: #FFD700;
    margin: 5px 0;
}

.price {
    font-size: 20px;
    color: #28a745;
    font-weight: bold;
}

.product-management-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0;
}

 .material-symbols-outlined {
     font-variation-settings:
             'FILL' 0,
             'wght' 400,
             'GRAD' 0,
             'opsz' 24
 }

.product-management-section button {
    width: 40px;
    height: 40px;
    color: black;
    padding: 5px;
    background-color: transparent;
    border: 2px solid black;
    border-radius: 5px;
    box-sizing: border-box;
    margin: 0 5px;
    cursor: pointer;
}