<li class="product-card">
    <img src="{{ product.photo }}" alt="Product">
    <div class="info">
        <h3>{{ product.name }}</h3>
        <div class="rating">
            ★★★★☆
        </div>
        <p class="price">${{ product.unitPriceCents / 100 }}</p>
    </div>
</li>