<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/resources/css/styles.css">
    <link rel="stylesheet" href="/resources/css/elements/productCard.css">
    <title>Electronics Store</title>
</head>
<body>
    {{ include('/elements/navbar.twig') }}
    <div class="banner-container">
        <div class="banner-slides">
            <div class="slide"><img src="/storage/banners/banner-1.png" alt="Banner 1"></div>
            <div class="slide"><img src="/storage/banners/banner-2.png" alt="Banner 2"></div>
            <div class="slide"><img src="/storage/banners/banner-3.jpg" alt="Banner 3"></div>
        </div>
        <button class="banner-btn left" onclick="prevSlide()">&#10094;</button>
        <button class="banner-btn right" onclick="nextSlide()">&#10095;</button>
    </div>

    <section class="products-section">
        <h2>New Products</h2>
        <div class="product-cards">
            {% for product in products %}
                {{ include('/elements/customerProductCard.twig', {product: product}) }}
            {% endfor %}
        </div>
    </section>

    <!-- Top Selling Products Section -->
    <section class="products-section">
        <h2>Top Selling Products</h2>
        <ul class="product-cards">
            <li class="product-card">
                <img src="https://btech.com/media/catalog/product/2/8/28-l-solo_1.jpg" alt="Product 2">
                <div class="info">
                    <h3>Product Title 1</h3>
                    <div class="rating">
                        ★★★★☆
                    </div>
                    <p class="price">$199.99</p>
               </div>
            </li>
            <li class="product-card">
                <img src="https://btech.com/media/catalog/product/2/8/28-l-solo_1.jpg" alt="Product 2">
                <div class="info">
                    <h3>Product Title 1</h3>
                    <div class="rating">
                        ★★★★☆
                    </div>
                    <p class="price">$199.99</p>
               </div>
            </li>
            <li class="product-card">
                <img src="https://btech.com/media/catalog/product/2/8/28-l-solo_1.jpg" alt="Product 2">
                <div class="info">
                    <h3>Product Title 1</h3>
                    <div class="rating">
                        ★★★★☆
                    </div>
                    <p class="price">$199.99</p>
               </div>
            </li>
            <!-- Add more product cards as needed -->
        </ul>
    </section>

    <!-- For You Products Section -->
    <section class="products-section">
        <h2>For You</h2>
        <ul class="product-cards">
            <li class="product-card">
                <img src="https://btech.com/media/catalog/product/2/8/28-l-solo_1.jpg" alt="Product 3">
                <div class="info">
                    <h3>Product Title 1</h3>
                    <div class="rating">
                        ★★★★☆
                    </div>
                    <p class="price">$199.99</p>
               </div>
            </li>
            <li class="product-card">
                <img src="https://btech.com/media/catalog/product/s/h/sharp-split-air-conditioner-1-5-hp-cool-standard-dry-turbo-white-ah-a12yse-closed_2.jpg" alt="Product 2">
                <div class="info">
                    <h3>Product Title 1</h3>
                    <div class="rating">
                        ★★★★☆
                    </div>
                    <p class="price">$199.99</p>
               </div>
            </li>
            <li class="product-card">
                <img src="https://btech.com/media/catalog/product/l/e/levant-fhd-t5300-ua43t5300auxtw-frontblack-229857917.jpg" alt="Product 2">
                <div class="info">
                    <h3>Product Title 1</h3>
                    <div class="rating">
                        ★★★★☆
                    </div>
                    <p class="price">$199.99</p>
               </div>
            </li>
            <!-- Add more product cards as needed -->
        </ul>
    </section>

    <script src="resources/js/app.js"></script>
</body>
</html>

