<div class="product-card">
    <img class="product-img" src="{{ product.photo }}" alt="Product">
    <div class="info">
        <h4 class="product-name">{{ product.name }}</h4>
        <p class="price">${{ product.unitPriceCents / 100 }}</p>
    </div>
    <div class="product-management-section">
        <button type="button" id="edit-button">
            <span class="material-symbols-outlined">edit_square</span>
        </button>
        <button type="button" id="archive-button">
            <span class="material-symbols-outlined">archive</span>
        </button>
        <button type="button" id="delete-button">
            <span class="material-symbols-outlined">delete</span>
        </button>
    </div>
</div>