<div class="form-container">
    <div class="image-container hidden"></div>
    <div class="inner-container">
        <h1 class="form-title">Create Category</h1>

        <form action="/api/categories" method="POST" id="create-category-form"
              enctype="multipart/form-data">
            <input type="text" name="name" id="name" placeholder="Category Name" required>
            <div class="invalid-feedback"></div>
            <input type="file" name="image" id="image" accept="image/*" required>
            <div class="invalid-feedback"></div>
            <input type="submit" value="submit" id="form-submit-button" class="submit-button">
        </form>
    </div>
</div>