<nav class="navbar">
    <div class="navbar-icons left">
        <div class="navbar-logo">
            <a href="#"><img src="/resources/images/logo.png" alt="Logo"></a>
        </div>
        <p class="name">
            WIND
        </p>
    </div>

    <div class="search-bar">
        <input type="text" placeholder="Search for products...">
        <button type="submit"><img src="/resources/images/search.png" alt="Search"></button>
    </div>

    <div class="navbar-icons right">
        <a href="#" class="icon-link"><img src="/resources/images/cart.png" alt="Cart"></a>
        <a href="#" class="icon-link"><img src="/resources/images/wishlist.png" alt="Wishlist"></a>
        <a href="/profile" class="icon-link"><img src="/resources/images/user.png" alt="Profile"></a>
    </div>
</nav>
<nav class="sub-navbar">
    <div class="dropdown">
        <button class="dropbtn">Laptops</button>
        <div class="dropdown-content">
            <a href="#">Gaming Laptops</a>
            <a href="#">Ultrabooks</a>
            <a href="#">2-in-1 Laptops</a>
            <a href="#">Business Laptops</a>
            <a href="#">Chromebooks</a>
        </div>
    </div>
    <div class="dropdown">
        <button class="dropbtn">Smartphones</button>
        <div class="dropdown-content">
            <a href="#">Flagship</a>
            <a href="#">Mid-Range</a>
            <a href="#">Budget</a>
            <a href="#">Foldable</a>
            <a href="#">Gaming</a>
        </div>
    </div>
    <div class="dropdown">
        <button class="dropbtn">Cameras</button>
        <div class="dropdown-content">
            <a href="#">nikon</a>
            <a href="#">canon</a>
            <a href="#">lens</a>
        </div>
    </div>
    <div class="dropdown">
        <button class="dropbtn">Home Appliances</button>
        <div class="dropdown-content">
            <a href="#">Refrigerators</a>
            <a href="#">Washing Machines</a>
            <a href="#">Microwave Ovens</a>
            <a href="#">Air Conditioners</a>
            <a href="#">Vacuum Cleaners</a>
        </div>
    </div>
    <div class="dropdown">
        <button class="dropbtn">Accessories</button>
        <div class="dropdown-content">
            <a href="#">Headphones</a>
            <a href="#">Chargers</a>
            <a href="#">Phone Cases</a>
            <a href="#">Screen Protectors</a>
            <a href="#">Memory Cards</a>
            <a href="#">Power Banks</a>
        </div>
    </div>
</nav>
