<div class="filter-card">
    <div class="card-head">
        <h4>{{ text }}</h4>
        <span class="material-symbols-outlined">keyboard_arrow_down</span>
    </div>
    <div class="card-tail">{{ include(component) }}</div>
</div>
