<div class="price-range-component">
    <div class="price-inputs">
        <div>$ <input type="number" id="filters-min-price"></div>
        <div>$ <input type="number" id="filters-max-price"></div>
    </div>
    <div class="price-slider"></div>
</div>
