<select id="filters-category-selector">
    <option value="null" selected>All Categories</option>
</select>
<script type="module">
    import {fillSelector} from "/resources/js/productsHelper.js";

    const filtersCategorySelector = document.getElementById('filters-category-selector');

    document.addEventListener("DOMContentLoaded", function() {
       fillSelector(filtersCategorySelector, '/api/categories');
    });

    filtersCategorySelector.addEventListener('change', function () {
        console.log('category selector changed, fetching new results.....')
        filters.category = this.value;
        filters.page = 1;
        runPagination();
    });


</script>