<select id="filters-sorting-selector">
    <option data-name="updatedAt" data-dir="desc" value="last-updated" selected>Last Updated</option>
    <option data-name="unitPriceInCents" data-dir="asc" value="lowest-price">Lowest Price</option>
    <option data-name="unitPriceInCents" data-dir="desc" value="highest-price">Highest Price</option>
</select>